<!doctype html>
<html>
  <head>
    <title>Ratings</title>
  </head>

  <body>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    
      {% if "username" in session %}
        <form action="/logout">
          <input type="submit" value="Logout">
        </form>
      {% else %}
        <form action="/sign-in">
          <input type="submit" value="Sign In/Create Account">
        </form>
      {% endif %}


    {% block content %} put your content here {% endblock %}

  </body>
</html>