{% extends "base.html" %}
{% block content %}

<h1>Title: {{ title[0] }}</h1>
<h2>Released: {{ release_date }}</h2>
<h3><a href="{{ imdb_url[0] }}">IMDB URL</a></h3>
<h4>Average rating: {{ average }}</h4>
{% if "username" in session %}
  {% if prediction %}
    <h4>We predict you will rate this movie: {{ prediction }}.</h4>
  {% endif %}
  {% if beratement %}
    <h4>{{ beratement }}</h4>
  {% endif %}
  <h4>Add a new rating: </h4>
  <form action="/process-score" method="POST">
    <input type="hidden" name="movieid" value="{{ my_movie_id }}">
    <label>Score:</label>
    <select name="score">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <input type="submit" value="Set/Update Score">
  </form>
{% endif %}
  <ul>
    {% for item in all_ratings %}
    <li>User #<a href="/user?user_id={{ item[0] }}">{{ item[0] }}</a> gave a rating of {{ item[1] }}</li>
    {% endfor %}
  </ul>



{% endblock %}